HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Diretórios de logs
logs/
*.log

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Diretórios e arquivos de build do IntelliJ
out/

# Arquivos gerados pelo Spring Boot Devtools
restart.log

# Arquivos de cache do sistema
*.class
*.jar
*.war
*.ear

# Variaveis de ambiente
.env